@import './resst';
@import './mixins';

#counter-block {
    text-align: center;

    & h1,
    &>p {
        font-size: 5rem;

        @include mobile {
            font-size: 3rem;
        }
    }
}

#btns {
    display: flex;
    justify-content: space-between;

    @include mobile {
        flex-direction: column;
    }

    & p {
        padding: .5rem 1rem;
        border: 1px solid black;
        border-radius: 5px;
        font-weight: bold;
        transition: .3s;

        @include mobile {
            margin-bottom: 1rem;
        }

        &:hover {
            background-color: black;
            color: white;
            cursor: pointer;
        }
    }
}